body {
    font-family: 'Inter', sans-serif;
    background: #1a1c19;
}
.container {
    display: flex;
    justify-content: space-between;
    border: 0.1px solid #E0D6C2;
    border-radius: 25px;
    margin: 5px;
    padding: 3px;
}
.left_half {
    display: flex;
    gap: 4px;
}
a {
    text-decoration: none;
    color: #E0D6C2;
}
.item {
    width: 130px;
    text-align: center;
    border-radius: 25px;
    border: 0.1px solid #E0D6C2;
    width: 110px;
    padding: 13px;
}
.i1 {
    background-color: #343124;
    border: none;
    width: 300px;
}
.div1 {
    background-color: #E0D6C2;
    margin-left: 5px;
    margin-top: 10px;
    padding: 10px;
    width: 438px;
    border-radius: 20px;
}
.heading1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 20px;
    color: #342415;
    width: 400px;
}
.portrait {
    font-size: 45px;
}
.image1 {
    height: 550px;
}

.bottom {
    border-top: 0.1px solid 342415;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    font-weight: 700;
    margin-bottom: 20px;
}
.i6 {
    border: 1px solid #342415;
    width: 150px;
    padding: 2px;
    text-align: center;
    border-radius: 25px;
    margin: 20px;
    color: #342415;
}
main {
    display: flex;
    position: relative;
}
.div2 {
    display: flex;
    border-bottom: 0.1px solid black;
    gap: 10px;
    margin-right: 0%;
}
.cont {
    background-color: #8F8868;
    height: 280px;
    width: 730px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 16px;
    border-radius: 25px;
}
.right-half {
    margin: 20px;
    margin-left: 0;
    margin-bottom: 30px;
}
.image2 {
    width: 459px;
    height: 193px;
}

.div3 {
    margin: 10px 0px 0px 10px;
    background-color: #976C54;
    width: 355px;
    height: 439px;
    padding: 10px;
    border-radius: 25px;
}
.btm2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.line {
    border: 0.1px solid black;
    padding: 0;
}
.p1 {
    margin-top: 40px;
    margin-bottom: 42px;
}
.last2 {
    display: flex;
}
.image3 {
    width: 100%;
}
.div4 {
    margin: 10px 5px 0px 10px;
    background-color: #B5A38D;
    border-radius: 25px;
    padding: 10px;
    width: 355px;
    height: 439px;
    position: relative;
}
p {
    color: #342415;
    margin: 20px;
    font-size: 16px;
    font-weight: 500;
    width: 350px;
}
.para-last {
    margin-bottom: 48px;
}

.last-col {
    margin-top: 12px;
}

.para {
    margin-bottom: 20px;
    font-weight: 900;
}

.head4 {
    color: #1a1c19;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 15px;
}

.last-head {
    margin-top: 50px;
}

.both {
    display: flex;
    justify-content: space-between;
}

.image4 {
    width: 80px;
}
.public {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
.line-public {
    border: 1px solid black;
    margin: 5px 20px;
}

.image1-container {
    width: 420px;
    height: 550px;
    overflow: hidden; 
    position: relative; 
    border-radius: 25px;
    margin: 30px 10px;
}
.image2-container {
    width: 330px;
    height: 180px;
    overflow: hidden; 
    position: relative; 
    right: 65px;
    border-radius: 25px;
}
.image3-container {
    width: 335px;
    height: 140px;
    overflow: hidden; 
    position: relative; 
    border-radius: 25px;
    margin: 8px;
}
.image4-container {
    width: 160px;
    height: 80px;
    overflow: hidden; 
    position: relative;
    bottom: 70px;
    border-radius: 50px;
    margin: 10px 20px 0px;
}
img {
    transform-origin: center center;
    transition: transform 0.5s ease-out; /* Set a slower transition speed */
}
img:hover {
    transform: scale(1.1);
}
.i2:hover, .i3:hover, .i4:hover {
    background-color: #E0D6C2;
}
.collection:hover, .menu:hover, .events:hover {
    color: #1A1C19;
}
